/** freleap projcet css date:2014-07-30**/
@charset utf-8;
/** css reset **/
html,body{ width: 100%; height: 100%;}
body{font-size:14px;color:#666;font-family: Microsoft Yahei, arial,sans-serif;}
body,ul,li,ol,div,dl,dd,form,fieldset,legend,input,button,textarea,th,td{margin:0;padding:0}
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{border:none}
img,select,input,textarea,button{vertical-align:middle}
a{color:#777;text-decoration:none;cursor:pointer; transition:all .2s ease-in;-webkit-transition:all .2s ease-in;}
a.active{color:#1ba1e2;}
a:hover{color:#dc4f35; }
.gclearfix:after,#channel:after,.hd:after,.bd:after,.ft:after,.gmodule:after{display:block;clear:both;visibility:hidden;height:0;content:''}
.gclearfix,#channel,.hd,.bd,.ft,.gmodule{zoom:1}
.doc-hd,.doc-bd,.doc-ft{ position:relative; }
.wrap{  z-index:1;position:relative;width:100%;}
.clear{height:0; clear:both;}
/** end css reset **/
/** svg icon **/
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	margin-right: 10px;
	color: #000000;
	fill: currentColor;
}

.icon-menu {
	width: 24px;
	height: 24px;
}
.icon-bookmark {
	width: 32px;
	height: 32px;
}
.icon-github {
	width: 20px;
	height: 20px;
}
.icon-arrow-down2 {
	width: 20px;
	height: 20px;
}
.icon-googleplus2 {
	width: 20px;
	height: 20px;
}
.icon-sina-weibo {
	width: 20px;
	height: 20px;
}
.icon-clipboard {
	width: 20px;
	height: 20px;
}
/** end svg icon **/

#page{position:relative; width:100%; min-height:100%;padding-top: 60px;text-align: center;}

.container {
    max-width: 1120px;
    margin: 0 auto;
    text-align: left;
}
code, tt {
    padding: 1px 3px;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    border-radius: 2px;
    white-space: pre-wrap;
    color: #e67e22;
}
#footer{ clear: both; position:relative;width:720px; margin: 90px auto; border-top:1px solid #e6e6e6; text-align:center;}
#footer a{ margin:10px; line-height: 45px; color:#888;  }
#footer a:hover{ color:#555;}
